<% provide(:titulo, "Home") %> <%# el método provide le da a la view donde es utilizado, mediante dos paramtros el primero indica la clave y el segundo
el valor asignado... de esta forma podemos utilizar el método yield(:titulo) en el layout general y poder asignarle nombres distintos a cada pestaña%>

<h1><strong>HOME</strong></h1>
<p>Este es el primer parrafo del home</p>

<%= link_to "Hagamos una suma", suma_path %>