<% provide(:titulo, "Home") %> <%# el método provide le da a la view donde es utilizado, mediante dos paramtros el primero indica la clave y el segundo
el valor asignado... de esta forma podemos utilizar el método yield(:titulo) en el layout general y poder asignarle nombres distintos a cada pestaña%>

<div class="row">
  <div class="col">
    <h1><strong>HOME</strong></h1>
    <p>Este es el primer parrafo del home</p>
  </div>
</div>

<div class="row">
  <div class="col">
    <%= link_to "Hagamos una suma", suma_path %>
    <p>
      <br>
      <strong> conoce a nuestros </strong> <%= link_to "Autores", autores_path %> <br>
      <strong> Hecha un vistazo a nuestros </strong> <%= link_to "Articulos", articulos_path %>
    </p>
  </div>
</div>
