<%# este documento llamdo de la mismoa forma que el método(accion) en el controlador será la view y es el segundo paso para la creación 
por ultimo hay que modificar el archivo routes y agregar esta nueva view %>

<% provide(:titulo, "Privacy") %>

<h1> Página extra </h1>
<p> esta página se creo para practicar la forma manual de crear una nueva vista y enlazarla con todo lo que se ha hecho hasta el momento</p>