<div class="row justify-content-center">
  <div class="col-4">
    <form action="/statics/sum" method="post">
      <div class="form-group pb-4 pt-4">
        <label for="num1"><strong> sumando 1 </strong></label>
        <input class="form-control" type="number" name="addend1" id="num1">
      </div>
      <div class="form-group pb-4">
        <label for="num2"><strong> sumando 2 </strong></label>
        <input class="form-control" type="number" name="addend2" id="num2">
      </div>
      <div class="form-group">
      <button type="submit" class="btn btn-warning">Sumar</button>
    </form>
  </div>
</div>